#sidebar{
    .nav-link{
        &.active{
            background-color: #66b7dc;
        }
        border-radius: 10px;
        margin: 15px;
    }
}
.w-20{
    width: 20%;
}

.w-80 {
    width: 80%;
}